.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Stole d3 chart styles */

.axis path {
  fill:none;
  stroke:grey;
  shape-rendering:crispEdges;
}
.grid .tick {
  stroke: lightgrey;
  opacity: 0.8;
  stroke-dasharray: 2,12;
}
.grid path {
  stroke-width: 0;
}
rect.times.bar {
  fill:#006D2C;
  fill-opacity:0.5;
  stroke:#006D2C;
  stroke-width:1px;
}
